---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageHero from "../components/PageHero.astro";
import "../styles/global.css";
---

<PageHero title="Our Clients" />
<BaseLayout title="Clients | GreenTree Technologies">
<section id="gallery-45">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Check Out Some Of Our Clients</h2>
        </div>
        <ul class="cs-image-group">
            <!-- Image 1 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/public/images/client-1.png">
                    <source media="(min-width: 601px)" srcset="public/images/client-1.png">
                    <img loading="lazy" decoding="async" src="/public/images/client-1.png" alt="fancy house" width="346" height="346">
                </picture>
            </li>
            <!-- Image 2 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/public/images/client-2.png">
                    <source media="(min-width: 601px)" srcset="public/images/client-2.png">
                    <img loading="lazy" decoding="async" src="/public/images/client-2.png" alt="fancy house" width="346" height="346">
                </picture>
            </li>
            <!-- Image 3 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/public/images/client-3.png">
                    <source media="(min-width: 601px)" srcset="public/images/client-3.png">
                    <img loading="lazy" decoding="async" src="/public/images/client-3.png" alt="fancy house" width="346" height="346">
                </picture>
            </li>
            <!-- Image 4 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/public/images/client-4.png">
                    <source media="(min-width: 601px)" srcset="public/images/client-4.png">
                    <img loading="lazy" decoding="async" src="/public/images/client-4.png" alt="fancy house" width="346" height="346">
                </picture>
            </li>
            <!-- Image 5 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/public/images/client-5.png">
                    <source media="(min-width: 601px)" srcset="public/images/client-5.png">
                    <img loading="lazy" decoding="async" src="/public/images/client-5.png" alt="fancy house" width="346" height="346">
                </picture>
            </li>
            <!-- Image 6 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/public/images/client-6.png">
                    <source media="(min-width: 601px)" srcset="public/images/client-6.png">
                    <img loading="lazy" decoding="async" src="/public/images/client-6.png" alt="fancy house" width="346" height="346">
                </picture>
            </li>
            <!-- Image 7 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/public/images/client-7.png">
                    <source media="(min-width: 601px)" srcset="public/images/client-7.png">
                    <img loading="lazy" decoding="async" src="/public/images/client-7.png" alt="fancy house" width="346" height="346">
                </picture>
            </li>
            <!-- Image 8 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/public/images/client-8.png">
                    <source media="(min-width: 601px)" srcset="public/images/client-8.png">
                    <img loading="lazy" decoding="async" src="/public/images/client-8.png" alt="fancy house" width="346" height="346">
                </picture>
            </li>
            <!-- Image 9 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/public/images/client-9.png">
                    <source media="(min-width: 601px)" srcset="public/images/client-9.png">
                    <img loading="lazy" decoding="async" src="/public/images/client-9.png" alt="fancy house" width="346" height="346">
                </picture>
            </li>
            <!-- Image 10 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/public/images/client-10.png">
                    <source media="(min-width: 601px)" srcset="public/images/client-10.png">
                    <img loading="lazy" decoding="async" src="/public/images/client-10.png" alt="fancy house" width="346" height="346">
                </picture>
            </li>
            <!-- Image 11 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/public/images/client-11.png">
                    <source media="(min-width: 601px)" srcset="public/images/client-11.png">
                    <img loading="lazy" decoding="async" src="/public/images/client-11.png" alt="fancy house" width="346" height="346">
                </picture>
            </li>
            <!-- Image 12 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/public/images/client-12.png">
                    <source media="(min-width: 601px)" srcset="public/images/client-12.png">
                    <img loading="lazy" decoding="async" src="/public/images/client-12.png" alt="fancy house" width="346" height="346">
                </picture>
            </li>
            <!-- Image 13 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/public/images/client-13.png">
                    <source media="(min-width: 601px)" srcset="public/images/client-13.png">
                    <img loading="lazy" decoding="async" src="/public/images/client-13.png" alt="fancy house" width="346" height="346">
                </picture>
            </li>
            <!-- Image 14 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/public/images/client-14.png">
                    <source media="(min-width: 601px)" srcset="public/images/client-14.png">
                    <img loading="lazy" decoding="async" src="/public/images/client-14.png" alt="fancy house" width="346" height="346">
                </picture>
            </li>
            <!-- Image 15 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/public/images/client-15.png">
                    <source media="(min-width: 601px)" srcset="public/images/client-15.png">
                    <img loading="lazy" decoding="async" src="/public/images/client-15.png" alt="fancy house" width="346" height="346">
                </picture>
            </li>
            <!-- Image 16 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/public/images/client-16.png">
                    <source media="(min-width: 601px)" srcset="public/images/client-16.png">
                    <img loading="lazy" decoding="async" src="/public/images/client-16.png" alt="fancy house" width="346" height="346">
                </picture>
            </li>
            <!-- Image 17 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/public/images/client-17.png">
                    <source media="(min-width: 601px)" srcset="public/images/client-17.png">
                    <img loading="lazy" decoding="async" src="/public/images/client-17.png" alt="fancy house" width="346" height="346">
                </picture>
            </li>
            <!-- Image 18 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/public/images/client-18.png">
                    <source media="(min-width: 601px)" srcset="public/images/client-18.png">
                    <img loading="lazy" decoding="async" src="/public/images/client-18.png" alt="fancy house" width="346" height="346">
                </picture>
            </li>
        </ul>
    </div>
</section>
                                
</BaseLayout>

<style>
    /*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/
#gallery-45 {
    background-color: black;
}
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery-45 {
        padding: var(--sectionPadding);
        position: relative;
        /* Prevents overflow from the image going off screen */
        overflow: hidden;
    }
    #gallery-45 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #gallery-45 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        color: white;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }

    #gallery-45 .cs-image-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 16px - 20px */
        gap: clamp(1rem, 1.5vw, 1.25rem);
    }
    #gallery-45 .cs-item {
        list-style: none;
        width: 100%;
        height: 100%;
        aspect-ratio: 1;
        margin: 0;
        position: relative;
        display: block;
    }
    #gallery-45 .cs-item:hover .cs-hover-box {
        opacity: 1;
    }
    #gallery-45 .cs-item:hover .cs-icon {
        /* return to original position */
        transform: rotateY(0);
    }
    #gallery-45 .cs-item:hover .cs-h3 {
        opacity: 1;
        /* Return to original position */
        transform: translateY(0);
    }
    #gallery-45 .cs-item:hover .cs-hover-box-text {
        opacity: 1;
        /* Return to original position */
        transform: translateY(0);
    }
    #gallery-45 .cs-picture {
        margin: auto;
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
    }
    #gallery-45 .cs-picture img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    #gallery-45 .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }
    #gallery-45 .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }
    #gallery-45 .cs-button-solid:hover:before {
        width: 100%;
    }
}
/* In Between - 600px */
@media only screen and (min-width: 37.5rem) {
    #gallery-45 .cs-image-group {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;
    }
    #gallery-45 .cs-item {
        grid-column: span 6;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #gallery-45 .cs-item {
        grid-column: span 3;
    }
}

                                
</style>