---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import SideBySide from "../components/SideBySide.astro";
import SectionBreak from "../components/SectionBreak.astro";
import OurStory from "../components/OurStory.astro";
import Services from "../components/Services.astro";
import CTA from "../components/CTA.astro";
import Testimonials from "../components/Testimonials.astro";
import BookForm from "../components/BookForm.astro";
---

<BaseLayout title="Home | GreenTree Technologies">
  <Hero />
  <section id="side-by-side"><SideBySide /></section>
  <SectionBreak />
  <section id="our-story"><OurStory /></section>
  <section id="services"><Services /></section>
  <CTA />
  <section id="testimonials"><Testimonials /></section>
  <BookForm />
</BaseLayout>
