<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->
<section id="services-1188">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">The Services We Offer</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="/public/icons/graph.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Business Development</h3>
                    <p class="cs-item-text">As a business owner, you know that growth and success don't happen by chance. It takes a strategic approach to business development to achieve your goals and take your business to the next level. That's where our Business Development Services come in. With our Business Development Services, you can accelerate your growth and take your business to the next level. We work closely with you to understand your unique needs and develop customized solutions that meet your specific requirements. Don't wait to achieve your growth objectives. Contact us today to learn more about our Business Development Services and how we can help take your business to new heights.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="/public/icons/cyber-security.svg" loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Cybersecurity</h3>
                    <p class="cs-item-text">With our Cybersecurity Services, you can rest assured that your business is protected from cyber threats and that your systems and data are secure. We work closely with you to understand your unique cybersecurity needs and develop customized solutions that meet your specific requirements. Don't leave your business vulnerable to cyber attacks. Contact us today to learn more about our Cybersecurity Services and how we can help protect your business.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="/public/icons/linked-nodes.svg" loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Project Management</h3>
                    <p class="cs-item-text">Effective project management is key to achieving success in any organization. Whether you're launching a new product, implementing a new system, or executing a strategic initiative, you need a project manager who can drive results and ensure success. That's where our Project Management Services come in. Don't let your projects fall short of their potential. Contact us today to learn more about our Project Management Services and how we can help drive success in your organization.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="/public/icons/magnifying-glass.svg" loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Business Analysis</h3>
                    <p class="cs-item-text">In today's fast-paced business environment, it's more important than ever to have accurate and timely information to make informed decisions. That's where our Business Analysis Services come in. Don't make important business decisions without the insights you need. Contact us today to learn more about our Business Analysis Services and how we can help you make better decisions and achieve your business objectives.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="/public/icons/list.svg" loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Business Process Analysis</h3>
                    <p class="cs-item-text">As your business grows, your processes need to evolve and adapt to keep up with changing demands. That's where our Business Process Analysis Services come in. Don't let inefficiencies and bottlenecks slow down your business. Contact us today to learn more about our Business Process Analysis Services and how we can help you optimize your business processes for success.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="/public/icons/business-rescue.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Business Rescue </h3>
                    <p class="cs-item-text">Running a business is never easy, and sometimes things don't go according to plan. If you're struggling to keep your business afloat, our Business Rescue Services can help. Don't let financial and operational challenges derail your business. Contact us today to learn more about our Business Rescue Services and how we can help you get back on track.</p>
                </div>
            </li>
        </ul>
    </div>
</section>

<style>
    /*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
#services-1188 {
    background-color: #f3f3f4ff;
}
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1188 {
        padding: var(--sectionPadding);
    }
    #services-1188 .cs-container {
        max-width: 80rem;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #services-1188 .cs-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
        /* set text align to left if content needs to be left aligned */
        text-align: center;
    }

    #services-1188 .cs-card-group {
        /* changes to 1280px at desktop */
        max-width: 56.25rem;
        width: 100%;
        margin: 0;
        padding: 0;
        display: grid;
        justify-content: center;
        gap: 1rem;
    }
    #services-1188 .cs-item {
        list-style: none;
        max-width: 23rem;
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        padding: 1rem;
        border: 1px solid white;
        background-color: white;
        radius: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
    }
    #services-1188 .cs-picture {
        width: 5rem;
        height: 5rem;
        margin-bottom: 1.25rem;
        box-sizing: border-box;
        /* prevents border from affecting height and width */
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        /* prevents flexbox from squishing it */
        flex: none;
    }
    #services-1188 .cs-icon {
        width: 1.875rem;
        height: auto;
        display: block;
    }
    #services-1188 .cs-h3 {
        font-size: 1.25rem;
        line-height: 1.5em;
        margin: 0;
        margin-bottom: 0.5rem;
        color: var(--headerColor);
        text-align: center;
    }
    #services-1188 .cs-item-text {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        margin: 0;
        color: var(--bodyTextColor);
        text-align: center;
    }
    #services-1188 .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        font-weight: 700;
        min-width: 9.375rem;
        margin: 0;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
        padding: 0 1.5rem;
        color: #fff;
        background-color: var(--primary);
        text-decoration: none;
        display: inline-block;
        position: relative;
        z-index: 1;
        text-align: center;
    }
    #services-1188 .cs-button-solid:before {
        content: "";
        width: 0%;
        height: 100%;
        background: #000;
        opacity: 1;
        border-radius: 0.25rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
    }
    #services-1188 .cs-button-solid:hover:before {
        width: 100%;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1188 .cs-card-group {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.25rem;
    }
    #services-1188 .cs-item {
        margin: 0;
    }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #services-1188 .cs-card-group {
        max-width: 80rem;
    }
    #services-1188 .cs-item {
        max-width: none;
        padding: 2rem 1.5rem;
    }
}

                                
</style>